// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-title {
  margin-bottom: 0;

  a {
    color:  var(--gray-900);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--gray-600);
    }
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}

.nav {
  float: right;
  line-height: 1.25rem;
  word-spacing: 1rem;

  

}

.nav-item {
  &:hover,
  &:focus {
    color: var(--gray-100);
    text-decoration: underline;
  }
}